<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hotels</title>
    </head>
    <body>
        <div class="background"></div>
        <div class="page">
            <button>
                <p>Antananarivo, Madagascar</p>
            </button>
        </div>
        <div class="carousel">
            <div class="item"><h1>Item 1</h1></div>
            <div class="item"><h1>Item 2</h1></div>
            <div class="item"><h1>Item 3</h1></div>
            <div class="item"><h1>Item 4</h1></div>
        </div>
    </body>
</html>