<!-- navigation -->
<nav id="main-top-navigation">
    <div id="main-top-navigation-right">
        <ul id="link-list">
            <li><a routerLink="travel">Travel</a></li>
            <li><a >Restaurant</a></li>
            <li><a >Flight</a></li>
            <li><a >Hotels</a></li>
            <li><a >Sign Up</a></li>
        </ul>
    </div>
</nav>

<div id="home-view-wrapper">
    <div id="section-start">
        <div id="section-start-background">
            <!-- <img src="assets/img/hotel.png" alt="hotel"/> -->
        </div>
        <div id="section-start-content">
            <h1>The Advisor.</h1>
            <br>
            <br>
            <div id="search-box-container">
                <input type="text" placeholder="Search for places, restaurants and more...">
                <div id="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div id="section-where-to-travel">
        <div id="section-where-to-travel-background">
            <div class="background-block-image"><img src="assets/img/DUBAI.png" alt="Dubai"></div>
            <div class="background-block-image"><img src="assets/img/bora.png" alt="Bora"></div>
            <div class="background-block-image"><img src="assets/img/best.png" alt="baobab travel"></div>
        </div>
        <div id="section-where-to-travel-content">
            <h1>Where to travel?</h1>
        </div>
    </div>
    <div id="section-best-restaurant">
        <div id="section-best-restaurant-left">
            <br><br><br>
            <h1>Best Restaurants</h1>
        </div>
        <div id="section-best-restaurant-right"></div>
        <div id="section-best-restaurant-free-box">
            <p>
                Please find here the most ranked
                restaurant in our website
            </p>
            <br>
            <button>View</button>
        </div>
    </div>

    <div id="section-offers-near-you">
        <div id="section-offers-near-you-caroussel-wrapper">
            <div id="section-offers-near-you-header-free">
                OFFERS FROM HOTELS
                AND RESTAURANTS NEAR
                YOU FOR THIS MONTH
            </div>
            <div id="section-offers-near-you-caroussel-container">
                <div class="caroussel-item">
                    <div class="caroussel-item-image">
                        <!-- <img src="assets/img/deal.png" alt="deal"> -->
                    </div>
                    <h2 class="caroussel-item-title">Vacations</h2>
                </div>
                <div class="caroussel-item">
                    <div class="caroussel-item-image">
                        <!-- <img src="assets/img/special.png" alt="special "> -->
                    </div>
                    <h2 class="caroussel-item-title">New year celebration</h2>
                </div>
                <div class="caroussel-item">
                    <div class="caroussel-item-image">
                        <!-- <img src="assets/img/red.png" alt="red meal"> -->
                    </div>
                    <h2 class="caroussel-item-title">Family Event</h2>
                </div>
                
            </div>
        </div>
    </div>
</div>
