<!-- navigation -->
<nav id="main-top-navigation">
    <div id="main-top-navigation-right">
        <ul id="link-list">
            <li><a routerLink="travel">Travel</a></li>
            <li><a >Restaurant</a></li>
            <li><a >Flight</a></li>
            <li><a >Hotels</a></li>
            <li><a >Sign Up</a></li>
        </ul>
    </div>
</nav>
<div id="home-view-wrapper">
    <div id="section-start">
        <div id="section-start-background">
            <img src="assets/img/hotel.png" alt="hotel"/>
        </div>
    </div>
</div>
