<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <div class="container">
        <div class="container-child">
          <div>
            <img
              src="../../assets/759d9f8613348645.jpg"
              class="rounded-circle"
              height="65"
              width="65"
              alt="Avatar"
            />
          </div>
          <div class="card" style="border: 0px;">
            <div class="card-body">
              <h5 class="card-title">Tokiniaina Toavina</h5>
              <h6 class="card-link mb-2 text-primary">toavina@Gmail.com</h6>
            </div>
          </div>
        </div>
        <ul class="nav flex-column nav-pills">
          <li class="nav-link"> <i class="fa fa-hospital-o"></i> Booking</li>
          <li class="nav-link"> <i class="fa fa-check"></i> Following</li>
          <li class="nav-link"> <i class="fa fa-money"></i> Payement</li>
          <li class="nav-link active"> <i class="fa fa-gears"></i> Setting</li>
        </ul>
        <br />
        <br>
        <br>
        <ul class="nav flex-column nav-pills">
          <li class="text-muted">Help & Support</li>
          <li class="text-muted">Report a problem</li>
          <li class="text-muted">Feedback</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-9">
      <h2 style="margin-left: 30vw;">Your details:</h2>
      <hr />
      <div class="row">
        <div class="text-center">
          <div class="container-header-detail">
            <div>
              <img
                src="../../assets/759d9f8613348645.jpg"
                class="rounded-circle setting-picture"
                height="65"
                width="65"
                alt="Avatar"
              />
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary">Male</button>
              <button type="button" class="btn btn-outline-secondary">
                Female
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">First name:</h5>
              <h6 class="card-subtitle mb-2 text-muted">Toavina</h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Email:</h5>
              <h6 class="card-subtitle mb-2 text-muted">toavina@gmail.com</h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Birthday:</h5>
              <h6 class="card-subtitle mb-2 text-muted">11/09/02</h6>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Last name:</h5>
              <h6 class="card-subtitle mb-2 text-muted">Tokiniaina</h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Phone number:</h5>
              <h6 class="card-subtitle mb-2 text-muted">+261346666666</h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bio:</h5>
              <h6 class="card-subtitle mb-2 text-muted">Heyyyy to you!</h6>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button type="button" class="btn btn-secondary" style="margin-left: 32vw;width: 10vw;">Save</button>
    </div>
  </div>

  <footer class="container-fluid">
  </footer>
</div>
